
body {
  font-family: Roboto, sans-serif;
}

.container {
  padding: 0 40px;
  margin-left: 80px;
}

 
a {
  display: block;
  text-decoration:none;
  margin-bottom: 1.2em;
  position: relative;
}


a:hover {
  color:#FFD700;
}


a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(1.5em);
  border-bottom: 1px solid #dadada;
  width: 300px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin: 1.25em 0;
}

h3 {
  font-size: 1,8em;
  margin: 1.25em 0;
}

h4 {
  font-size: 1,6em;
  margin: 1.25em 0;
}

.photo {
  border-radius: 100px;
  
  border: 3px solid transparent;
 
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
}


.photo:hover {
  border: 3px solid #FFC0CB;
}